#container {
  background: #fff !important;
}

#stargazers {
  -moz-transform: scale(1.6332, 1.6332); 
  -webkit-transform: scale(1.6332, 1.6332); 
  -o-transform: scale(1.6332, 1.6332);
  -ms-transform: scale(1.6332, 1.6332);
  transform: scale(1.6332, 1.6332); 
  -moz-transform-origin: top left;
  -webkit-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  margin-left: 35px;
}
